# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [34]:
CREATE TABLE jenni.planned_make(
  recipes_names VARCHAR(50) PRIMARY KEY NOT NULL,
  recipes VARCHAR(500) NOT NULL,
  score VARCHAR(2) NOT NULL,
)

Add three rows to your table that are your planned makes.

In [42]:
INSERT INTO jenni.planned_make
VALUES 
('cinnamon rolls', 'kanoivaonwe', '3'),
('apple rolls', 'laskdfjoijwefa', '4');

In [43]:
SELECT *
FROM jenni.planned_make

recipes_names,recipes,score
apple rolls,laskdfjoijwefa,4
caramel rolls,"a,skcunweoi",5
cinnamon rolls,kanoivaonwe,3

## Update a Row

Change different values in one of your three rows.

In [44]:
UPDATE jenni.planned_make
SET recipes_names='caramel apple rolls'
WHERE score=4

In [45]:
SELECT *
FROM jenni.planned_make

recipes_names,recipes,score
caramel apple rolls,laskdfjoijwefa,4
caramel rolls,"a,skcunweoi",5
cinnamon rolls,kanoivaonwe,3

## Delete a Row

Delete one of the rows from your table.

In [46]:
DELETE FROM jenni.planned_make
WHERE score=3

In [47]:
SELECT *
FROM jenni.planned_make

recipes_names,recipes,score
caramel apple rolls,laskdfjoijwefa,4
caramel rolls,"a,skcunweoi",5

## Drop the Table

While this has been fun, it is time to drop the table!

In [48]:
DROP TABLE jenni.planned_make

In [49]:
SELECT *
FROM jenni.planned_make

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'jenni.planned_make'.